<a href="https://colab.research.google.com/github/nhibui31231022042-svg/nhibui.github.io/blob/main/buoi02-Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

In [2]:
#comment
'''
comment
'''
print('comment')

comment

In [4]:
#indent
score =80
if score >=60 :
  print ("Pass")
  pass# dummy

Pass

In [5]:
# variable
x=2
price= 2.5
word = 'Hello'
word ="Hello"
print(word,type(word))
word = ""
Hello
" " "
print (word,type(word))

SyntaxError: unterminated string literal (detected at line 8) (ipython-input-2465294828.py, line 8)

In [6]:
x=2
y=x+1
print(f'x={x},y={y}')
print('x=%d,y=%d'%(x,y))

x=2,y=3
x=2,y=3

In [7]:
x= "Hello World"#str
print (x,type(x))
x=2 #int
print(x,type(x))
x=2.5 #float
print(x,type(x))
x= 7j +3 #complex
print(x,type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
(3+7j) <class 'complex'>

In [8]:
x=["apple","banana","cherry"] #list: chua cac doi tuong khac
x=[2] = 'hello'
print(x,x[2])

x =("apple","banana","cherry") # tuple: chua cac doi tuong khac, readonly
# x [2]=10 #error
print(x,x[2])

x= range(6)#range:r(6)=[0,5), r(min,max)= [min,max)
print (x, list(x)) #iterator: chi cap phat khi su dung (kieu iterator)

x= {"name": "Tom","age":20}#dict {k,v}
print(x,x['age'])

x= {"apple","banana","cherry","apple"} #set
print(x)

SyntaxError: cannot assign to literal (ipython-input-2705747189.py, line 2)

In [9]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [10]:
# Python Booleans: True or False (ket qua cua so sanh)
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [14]:
# tinh toan BMI
# input
height_cm=170
weight_kg=60
#process
height_m = height_cm/100
bmi=(weight_kg/(height_m**2))
#result
print("Your BMI is:" + str(round(bmi,1)))

Your BMI is:20.8

In [15]:
# Future value of a specified principal ammount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [16]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [17]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

# Data structure

In [18]:
x = ["apple", "banana", "cherry","cherry"] #list
print(x,type(x))
x = ("apple", "banana", "cherry") #tuple
print(x,type(x))
x = {"name" : "Tom", "age" : 20, "class":"KTLT"} #dict
print(x,type(x))
x = {"hello","apple", "banana", "cherry"} #set
print(x,type(x))

['apple', 'banana', 'cherry', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20, 'class': 'KTLT'} <class 'dict'>
{'hello', 'apple', 'banana', 'cherry'} <class 'set'>

In [21]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-2:-4:-1])
print(x[:-1],x[::-1])

4
60
70
90
[70, 80]
[80, 70]
[60, 70, 80] [90, 80, 70, 60]

In [22]:
a=[2,3,5]
b=[1,2]
a.extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [23]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [25]:
animals = {'cat', 'dog'}
print(animals)
print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))

animals.add("cat")
print(len(animals))

animals.remove('cat')
print(animals)

print(len(animals))

{'cat', 'dog'}
True
False
{'cat', 'dog', 'fish'}
True
3
3
{'dog', 'fish'}
2

In [26]:
s= "Hom nay la thu hai"
print(list(s), list(s))
print(set(list(s)),len(set(list(s))))

['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i'] ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
{'h', 'y', 'u', 'l', 'm', 'i', 't', 'a', 'o', 'n', 'H', ' '} 12

In [27]:
#dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [30]:
s= "Hom nay la thu hai"
d_cnt ={}
for ci in list(s):
  if d_cnt.get(ci)is None:
    d_cnt[ci]=1
  else:
      d_cnt[ci]=d_cnt[ci]+1
print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [33]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [34]:
import pandas as pd
pd.Datarame([person])

AttributeError: module 'pandas' has no attribute 'Datarame'

In [35]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [36]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
print("Account name:", account[0], "Account number:", account[1])

IndentationError: expected an indented block after 'for' statement on line 3 (ipython-input-1359554555.py, line 4)

In [39]:
# Python Dictionaries
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])
 print("-"*20)
 row={'number':account_number,**sccount_info}
 rows.append(account_info["type"])
pd.DataFrame(rows)

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------

NameError: name 'sccount_info' is not defined

In [44]:
 a,b=5,2
 for a,b in [(5,2),(5,5),(2,5)]:
  print(f'a={a},b={b}')
  print("<",a<b)#a<b
  print(">",a>b,b<a)
  print(">=",a>=b,not (a<b))
  print("<=",a<=b,not (b<a))
  print("==",a==b,not(b<a) and not (a<b) )
  print("!=",a!=b,b<a or a<b )
  print('-'*50)

a=5,b=2
< False
> True True
>= True True
<= False False
== False False
!= True True
--------------------------------------------------
a=5,b=5
< False
> False False
>= True True
<= True True
== True True
!= False False
--------------------------------------------------
a=2,b=5
< True
> False False
>= False False
<= True True
== False False
!= True True
--------------------------------------------------

In [50]:
for i in range(1,6):
 print(i , end =" ")

1 2 3 4 5

In [47]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)
print("-"*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [49]:
# while loops
age = 10
while age < 20:
  print(age, end = " ")
  age = age + 1

10 11 12 13 14 15 16 17 18 19

Python function def

Python classes/ objects

In [52]:
# Python class
class MyClass:# class: mau giay to
 x = 5
c1 = MyClass()#object: sv A dien vao giay to
print(c1.x)

5

In [54]:
class Person:
 def __init__(self, name, age):#ham tao phai co tu khoa self
  self.name = name#dinh nghia hinh thuc
  self.age = age

p1 = Person("Alan", 20)#_int_(p1,"Alan",20)
print(p1.name)
print(p1.age)

Alan
20