<a href="https://colab.research.google.com/github/nhibui31231022042-svg/nhibui.github.io/blob/main/buoi02_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

In [2]:
#comment
'''
comment
'''
print('comment')

comment

In [4]:
#indent
score =80
if score >=60 :
  print ("Pass")
  pass# dummy

Pass

In [5]:
# variable
x=2
price= 2.5
word = 'Hello'
word ="Hello"
print(word,type(word))
word = ""
Hello
" " "
print (word,type(word))

SyntaxError: unterminated string literal (detected at line 8) (ipython-input-2465294828.py, line 8)

In [6]:
x=2
y=x+1
print(f'x={x},y={y}')
print('x=%d,y=%d'%(x,y))

x=2,y=3
x=2,y=3

In [7]:
x= "Hello World"#str
print (x,type(x))
x=2 #int
print(x,type(x))
x=2.5 #float
print(x,type(x))
x= 7j +3 #complex
print(x,type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
(3+7j) <class 'complex'>

In [8]:
x=["apple","banana","cherry"] #list: chua cac doi tuong khac
x=[2] = 'hello'
print(x,x[2])

x =("apple","banana","cherry") # tuple: chua cac doi tuong khac, readonly
# x [2]=10 #error
print(x,x[2])

x= range(6)#range:r(6)=[0,5), r(min,max)= [min,max)
print (x, list(x)) #iterator: chi cap phat khi su dung (kieu iterator)

x= {"name": "Tom","age":20}#dict {k,v}
print(x,x['age'])

x= {"apple","banana","cherry","apple"} #set
print(x)

SyntaxError: cannot assign to literal (ipython-input-2705747189.py, line 2)

In [9]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [10]:
# Python Booleans: True or False (ket qua cua so sanh)
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [14]:
# tinh toan BMI
# input
height_cm=170
weight_kg=60
#process
height_m = height_cm/100
bmi=(weight_kg/(height_m**2))
#result
print("Your BMI is:" + str(round(bmi,1)))

Your BMI is:20.8

In [15]:
# Future value of a specified principal ammount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [16]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [17]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

# Data structure

In [18]:
x = ["apple", "banana", "cherry","cherry"] #list
print(x,type(x))
x = ("apple", "banana", "cherry") #tuple
print(x,type(x))
x = {"name" : "Tom", "age" : 20, "class":"KTLT"} #dict
print(x,type(x))
x = {"hello","apple", "banana", "cherry"} #set
print(x,type(x))

['apple', 'banana', 'cherry', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20, 'class': 'KTLT'} <class 'dict'>
{'hello', 'apple', 'banana', 'cherry'} <class 'set'>

In [21]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-2:-4:-1])
print(x[:-1],x[::-1])

4
60
70
90
[70, 80]
[80, 70]
[60, 70, 80] [90, 80, 70, 60]

In [22]:
a=[2,3,5]
b=[1,2]
a.extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [23]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [25]:
animals = {'cat', 'dog'}
print(animals)
print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))

animals.add("cat")
print(len(animals))

animals.remove('cat')
print(animals)

print(len(animals))

{'cat', 'dog'}
True
False
{'cat', 'dog', 'fish'}
True
3
3
{'dog', 'fish'}
2

In [26]:
s= "Hom nay la thu hai"
print(list(s), list(s))
print(set(list(s)),len(set(list(s))))

['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i'] ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
{'h', 'y', 'u', 'l', 'm', 'i', 't', 'a', 'o', 'n', 'H', ' '} 12

In [27]:
#dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [30]:
s= "Hom nay la thu hai"
d_cnt ={}
for ci in list(s):
  if d_cnt.get(ci)is None:
    d_cnt[ci]=1
  else:
      d_cnt[ci]=d_cnt[ci]+1
print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [33]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [34]:
import pandas as pd
pd.Datarame([person])

AttributeError: module 'pandas' has no attribute 'Datarame'